<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>{{ title }}</title>
    <meta name="Keywords" content="{{ keywords }}"/>
    <meta name="Description" content="{{ description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ ogtitle }}">
    <meta property="og:url" content="{{ ogurl }}"/>
    <meta property="og:description" content="{{ ogdescr }}">
    <meta property="og:image" content="{{ static('share-screen.png')}}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <link rel="icon" type="image/png" href="{{ static('Favicon.png')}}"/>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f
          .parentNode
          .insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MK7GNDT');
    </script>
    <!-- End Google Tag Manager -->

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK7GNDT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="page">
      {% include 'templates/header.html' %}

      {# BEGIN Content #}
      {% block content %}{% endblock %}
      {# END Content #}

      {% include 'templates/footer.html' %}
    </div>

    {% include 'templates/popup.html' %}

  </body>

</html>