<section class="advantages">
    <div class="advantages__wrap">
        <div class="advantages__description">
            <div class="advantages__item">
                <h3 class="advantages__item-title">Госкомпании переходят на&nbsp;отечественное&nbsp;ПО</h3>
                <span class="advantages__item-text">В 2018 году была принята директива об импортозамещении —
                    госкорпорации
                    должны переходить на отечественное ПО.</span>
            </div>
            <div class="advantages__item">
                <h3 class="advantages__item-title">Растет российский рынок&nbsp;ПО</h3>
                <span class="advantages__item-text">К 2024 году рынок российского ПО составит 1,4 трлн ₽. Прогноз
                    основан на
                    итогах 2019-го — тогда объем рынка составил
                    1,191 трлн ₽.</span>
            </div>
            <div class="advantages__item">
                <h3 class="advantages__item-title">Высокая маржинальность</h3>
                <span class="advantages__item-text">Заплатим партнеру до 50% при перепродаже лицензий до конца 2020
                    года.</span>
            </div>
        </div>
        <h2 class="advantages__title">
            Продавать российское ПО <br> от Mail.ru — выгодно
        </h2>

        <button type="button" class="button button_type1 advantages__button" data-target="formRequest">
            Стать партнером
        </button>
        <div class="advantages__steps">
            <div class="advantages__steps-item">
                <span class="advantages__steps-text">Шаг 1</span>
                <h3 class="advantages__steps-title">Оставьте заявку через форму</h3>
            </div>
            <div class="advantages__steps-item">
                <span class="advantages__steps-text">Шаг 2</span>
                <h3 class="advantages__steps-title">Менеджер свяжется с вами</h3>
            </div>
            <div class="advantages__steps-item">
                <span class="advantages__steps-text">Шаг 3</span>
                <h3 class="advantages__steps-title">Подпишите договор</h3>
            </div>
            <div class="advantages__steps-item">
                <span class="advantages__steps-text">Шаг 4</span>
                <h3 class="advantages__steps-title">Начните зарабатывать!</h3>
            </div>
        </div>
    </div>
</section>