<section class="features">
  <div class="wrap">
    <div class="features__list">
      <div class="features__item">
        <div class="features__title-wrap">
          <div class="features__icon">
            <img src="{{ static('Icon-1.svg')}}" alt="" class="features__img" />
          </div>
          <h3 class="features__name">Интегратор</h3>
        </div>

        <p class="features__text">
          Сертифицированный партнер, который проходит специализированное обучение и использует продукты Mail.ru для
          бизнеса в
          своей инфраструктуре.
        </p>
      </div>
      <div class="features__item">
        <div class="features__title-wrap">
          <div class="features__icon">
            <img src="{{ static('icon-2.svg')}}" alt="" class="features__img" />
          </div>
          <h3 class="features__name">Сервисный партнeр</h3>
        </div>
        <p class="features__text">
          Внедряет, настраивает, кастомизирует и осуществляет поддержку продуктов Mail.ru для бизнеса. Имеет в штате
          специалистов,
          сертифицированных производителем.
        </p>
      </div>
    </div>

    <div class="features__list">
      <div class="features__item">
        <div class="features__title-wrap">
          <div class="features__icon">
            <img src="{{ static('Icon-3.svg')}}" alt="" class="features__img" />
          </div>
          <h3 class="features__name features__name_short">
            Технологический партнер
          </h3>
        </div>
        <p class="features__text">
          Сертифицированный партнер, который улучшает сервисы Mail.ru для бизнеса с помощью своих технологий, решений,
          интеграций.
        </p>
      </div>
      <div class="features__item">
        <div class="features__title-wrap">
          <div class="features__icon">
            <img src="{{ static('Icon-4.svg')}}" alt="" class="features__img" />
          </div>
          <h3 class="features__name">Сервис-провайдер</h3>
        </div>

        <p class="features__text">
          Продает продукты Mail.ru для бизнеса в виде услуг по абонентской подписке. SaaS-сервисы могут продавать
          продукты под
          своим брендом.
        </p>
      </div>
    </div>

    <div class="features__list">
      <div class="features__item">
        <div class="features__title-wrap">
          <div class="features__icon">
            <img src="{{ static('Icon-5.svg')}}" alt="" class="features__img" />
          </div>
          <h3 class="features__name">Реселлер</h3>
        </div>

        <p class="features__text">
          Продает прямые лицензии продуктов Mail.ru для бизнеса заказчикам. Имеет в штате специалистов по продажам и
          технических
          экспертов.
        </p>
      </div>
      <div class="features__item features__item_dark">
        <h3 class="features__name features__name_dark">
          Платим 50% партнерам за продажу лицензий
        </h3>
        <p class="features__text features__text_dark">
          До конца 2020 года продавайте лицензии продуктов Mail.ru для бизнеса со скидкой 50%
        </p>
        <button class="button button_type1 button_link" data-target="formRequest">Получить скидку</button>
      </div>
    </div>
  </div>
</section>