<footer class="footer">
  <div class="wrap">
    <a href="#"><img src="{{ static('logo.svg')}}" alt="Mail.ru для бизнеса" class="footer__logo" /></a>
    <div class="footer-menu">
      <dl class="footer-menu__block">
        <dt class="footer-menu__name">Облачные сервисы</dt>
        <dd class="footer-menu__body">
          <ul class="footer-menu__list">
            <li class="footer-menu__item"><a href="https://biz.mail.ru/mail/" class="footer-menu__link" target="_blank">Почта для домена</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/teambox/" class="footer-menu__link" target="_blank">Облачное хранилище</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/myteam/" class="footer-menu__link" target="_blank">Мессенджер для команды</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/sendbox/" class="footer-menu__link" target="_blank">Сервис рассылок</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/askbox/" class="footer-menu__link" target="_blank">Сервис опросов</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/sitebox/" class="footer-menu__link" target="_blank">Конструктор сайтов</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/club/" class="footer-menu__link" target="_blank">Клуб Mail.ru для бизнеса</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="footer-menu__block">
        <dt class="footer-menu__name footer-menu__name_mb">Корпоративные продукты</dt>
        <dd class="footer-menu__body">
          <ul class="footer-menu__list">
            <li class="footer-menu__item"><a href="https://biz.mail.ru/onpremise/mail" class="footer-menu__link" target="_blank">Корпоративная почта</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/onpremise/messenger" class="footer-menu__link" target="_blank">Корпоративный мессенджер</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/onpremise/file_storage" class="footer-menu__link" target="_blank">Корпоративное файловое хранилище</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="footer-menu__block">
        <dt class="footer-menu__name">Помощь</dt>
        <dd class="footer-menu__body">
          <ul class="footer-menu__list">
            <li class="footer-menu__item"><a href="https://biz.mail.ru/onpremise/support" class="footer-menu__link" target="_blank">Техническая поддержка</a></li>
            <li class="footer-menu__item"><a href="https://help.mail.ru/biz/" class="footer-menu__link" target="_blank">Документация</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/onpremise/administration" class="footer-menu__link" target="_blank">Администрирование</a></li>
            <li class="footer-menu__item"><a href="https://biz.mail.ru/onpremise/security" class="footer-menu__link" target="_blank">Безопасность</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="footer-menu__block">
        <dt class="footer-menu__name">О платформе</dt>
        <dd class="footer-menu__body">
          <ul class="footer-menu__list">
            <li class="footer-menu__item"><a href="https://biz.mail.ru/blog/" class="footer-menu__link" target="_blank">Блог</a></li>
            <li class="footer-menu__item"><a href="https://help.mail.ru/biz/legal/privacy" class="footer-menu__link" target="_blank">Конфиденциальность</a></li>
            <li class="footer-menu__item"><a href="https://help.mail.ru/biz/legal/termsofuse" class="footer-menu__link" target="_blank">Условия использования</a></li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="footer-info">
      <div class="footer-info__social">
        {% include 'templates/social.html' %}
      </div>
      <div class="footer-info__copyright">&copy;&nbsp;Mail.ru для бизнеса, 2020&nbsp;г.&nbsp;<br class="footer-info__br" />Все права защищены.</div>
    </div>
  </div>
</footer>
