<section class="help">
    <div class="help__wrap">
        <div class="help__container">
            <div class="help__item">
                <h2 class="help__title">Поможем партнерам продвигать наши продукты</h2>
                <button class="button button_type1 help__button" data-target="formRequest">Оставить заявку</button>
            </div>
            <div class="help__item help__item_right">
                <span class="help__tag">Стратегии</span>
                <span class="help__tag">Исследования</span>
                <span class="help__tag">Генерация идей</span>
            </div>
        </div>
    </div>
</section>