<section class="partners">
  <div class="partners__wrap">
    <h3 class="partners__title">Уже стали нашими партнёрами</h3>
    <div class="partners__container">
      <div class="partners__item partners__item-1"></div>
      <div class="partners__item partners__item-2"></div>
      <div class="partners__item partners__item-3"></div>
      <div class="partners__item partners__item-4"></div>
      <div class="partners__item partners__item-5"></div>
      <div class="partners__item partners__item-6"></div>
    </div>
    <div class="partners__container">
      <div class="partners__item partners__item-7"></div>
      <div class="partners__item partners__item-8"></div>
      <div class="partners__item partners__item-9"></div>
      <div class="partners__item partners__item-10"></div>
      <div class="partners__item partners__item-11"></div>
      <div class="partners__item partners__item-12"></div>
    </div>
    <div class="partners__container partners__container_short">
      <div class="partners__item partners__item-13"></div>
      <div class="partners__item partners__item-14"></div>
      <div class="partners__item partners__item-15"></div>
      <div class="partners__item partners__item-16"></div>
    </div>
  </div>
</section>
