<div class="popup" data-block="popup">
  <div class="popup__body">
    <div class="popup__dialog">
      <div class="popup__content">
        <button type="button" class="popup__close" data-target="close">Закрыть</button>
        <h4 class="popup__title">Оставьте заявку</h4>
        <div class="popup__form">
          <form class="form" data-form="request">
            <div class="form__row">
              <input type="text" name="fio" placeholder="Имя" value="" class="form__field" data-required />
              <div class="form__error" hidden data-error></div>
            </div>
            <div class="form__row">
              <input type="text" name="email" placeholder="Email" value="" class="form__field" data-required />
              <div class="form__error" hidden data-error></div>
            </div>
            <div class="form__row">
              <input type="text" name="phone" placeholder="Телефон" value="" class="form__field" data-required />
              <div class="form__error" hidden data-error></div>
            </div>
            <h4 class="form__subtitle">Выберите тип партнерства</h4>
            <div class="form__checkbox-wrap">
              <label for="integrator" class="form__label">
                <input type="checkbox" class="form__checkbox" name="integrator" id="integrator" value="integrator">
                <span class="form__checkbox-fake"></span>
                <span class="form__label-text">
                  Интегратор
                </span>
              </label>
            </div>
            <div class="form__checkbox-wrap">
              <label for="service-provider" class="form__label">
                <input type="checkbox" class="form__checkbox" name="service-provider" id="service-provider"
                  value="service-provider">
                <span class="form__checkbox-fake"></span>
                <span class="form__label-text">
                  Сервис-провайдер
                </span>
              </label>
            </div>
            <div class="form__checkbox-wrap">
              <label for="service-partner" class="form__label">
                <input type="checkbox" class="form__checkbox" name="service-provider" id="service-partner"
                  value="service-partner">
                <span class="form__checkbox-fake"></span>
                <span class="form__label-text">
                  Сервис-партнер
                </span>
              </label>
            </div>
            <div class="form__checkbox-wrap">
              <label for="tech-partner" class="form__label">
                <input type="checkbox" class="form__checkbox" name="tech-partner" id="tech-partner"
                  value="tech-partner">
                <span class="form__checkbox-fake"></span>
                <span class="form__label-text">
                  Технологический партнер
                </span>
              </label>
            </div>
            <div class="form__checkbox-wrap">
              <label for="reseller" class="form__label">
                <input type="checkbox" class="form__checkbox" name="reseller" value="reseller" id="reseller">
                <span class="form__checkbox-fake"></span>
                <span class="form__label-text">
                  Реселлер
                </span>
              </label>
            </div>
            <button type="submit" class="button button_type1 form__button">Оставить заявку</button>
          </form>
        </div>
        <div class="popup__send" data-block="formSend">
          <h2 class="popup__sendtitle">Спасибо!</h2>
          <p class="popup__sendtext">Ваша заявка принята. Мы свяжемся с вами в ближайшее время.</p>
        </div>
      </div>
    </div>
  </div>
</div>