<ul class="social">
  <li class="social__item social__item_title">Обратная связь</li>
  <li class="social__item">
    <a href="https://www.facebook.com/biz.mail.ru/" class="social__link" target="_blank">
      <img src="{{ static('facebook.svg')}}" alt="Facebook" class="social__icon" />
    </a>
  </li>
  <li class="social__item">
    <a href="https://vk.com/bizmlru" class="social__link" target="_blank">
      <img src="{{ static('vk.svg')}}" alt="Вконтакте" class="social__icon" />
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.youtube.com/user/mailruvideo" class="social__link" target="_blank">
      <img src="{{ static('youtube.svg')}}" alt="Youtube" class="social__icon" />
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.linkedin.com/company/biz-mail-ru/" class="social__link" target="_blank">
      <img src="{{ static('linkd.svg')}}" alt="Linkd" class="social__icon" />
    </a>
  </li>
</ul>
