<section class="start">
  <div class="wrap start__wrap">
    <div class="start__content">
      <h1 class="start__title">Партнерская программа Mail.ru для бизнеса</h1>
      <h2 class="start__text">
        Предлагаем 5 вариантов заработать на продуктах Mail.ru для бизнеса: от
        продажи прямых лицензий до проектирования и запуска сервисов на серверах
        заказчика.
      </h2>
      <div class="start__button">
        <button
          type="button"
          class="button button_type1 start__buttonlink"
          data-target="formRequest"
        >
          Стать партнером
        </button>
      </div>
    </div>
  </div>
</section>
