<section class="training">
    <div class="training__wrap">
        <div class="training__container">
            <div class="training__item">
                <h3 class="training__title">Обучим продуктам Mail.ru для бизнеса</h3>
                <span class="training__text">Поможем разобраться в наших сервисах: покажем презентации, спецификации,
                    сравнения, вебинары. Если нужно — проведем
                    очное обучение.
                </span>
                <a href="https://biz.mail.ru/onpremise/resources" class="training__link" target="_blank">Подробнее</a>
            </div>
            <a class="training__item training__item_left" href="https://youtu.be/X7yCXZ0584g" target="_blank">
                <div class="training__content">
                    <div class="training__date-container">
                        <span class="training__name">Вебинар</span>
                        <div class="training__devider">•</div>
                        <span class="training__date">21 июля 2020</span>
                    </div>
                    <h3 class="training__subtitle">
                        Корпоративный Мессенджер от Mail.ru для бизнеса
                    </h3>
                </div>
            </a>
        </div>
    </div>
</section>