.features {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';

  padding-top: 54px;
  padding-bottom: 11px;
  background-color: $color-gray;

  @media (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-l) {
    padding-top: 84px;
    padding-bottom: 112px;
  }

  &__list {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 100%;

    @media (min-width: $tablet) {
      max-width: 680px;
      flex-direction: row;
    }
    @media (min-width: $desktop) {
      max-width: 846px;
    }
    @media (min-width: $desktop-l) {
      max-width: 1170px;
    }
  }

  &__item {
    width: 100%;
    background-color: $color-white;
    box-sizing: border-box;
    max-width: 336px;
    min-height: 255px;
    margin: 0 auto 20px;
    border-radius: 17px;
    padding: 30px 18px;
    text-align: center;

    &:first-child {
      @media (min-width: $tablet) {
        margin-right: 20px;
      }
    }

    @media (min-width: $tablet) {
      padding: 35px 36px;
      max-width: 330px;
      min-height: 282px;
      text-align: left;
    }

    @media (min-width: $desktop) {
      padding: 50px;
      max-width: 413px;
      min-height: 353px;
      border-radius: 21px;
    }

    @media (min-width: $desktop-l) {
      padding: 60px;
      max-width: 550px;
      min-height: 471px;
      border-radius: 28px;
    }

    &_dark {
      background-color: $color-dark;
      color: $color-white;
      min-height: 300px;
      padding-top: 43px;

      @media (min-width: $tablet) {
        min-height: auto;
        padding-top: 64px;
      }
      @media (min-width: $desktop) {
        padding-top: 70px;
      }
      @media (min-width: $desktop-l) {
        padding-top: 96px;
      }
    }
  }

  &__name {
    margin: 0;
    color: $color-black;
    font-weight: 500;
    font-size: $font-size-20;
    line-height: $line-height-30;
    margin-bottom: 12px;
    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }
    @media (min-width: $desktop) {
      font-weight: 600;
      margin-bottom: 24px;
      font-size: $font-size-24;
      line-height: $line-height-30;
    }

    @media (min-width: $desktop-l) {
      font-weight: 700;
      margin-bottom: 32px;
      font-size: $font-size-36;
      line-height: $line-height-44;
    }

    &_short {
      @media (min-width: $tablet) {
        max-width: 238px;
        margin-bottom: 14px;
      }
      @media (min-width: $desktop) {
        max-width: 287px;
        margin-bottom: 24px;
      }

      @media (min-width: $desktop-l) {
        max-width: 428px;
      }
    }

    &_dark {
      color: inherit;
      font-weight: 500;
      @media (min-width: $tablet) {
        margin-bottom: 17px;
      }
      @media (min-width: $desktop) {
        margin-bottom: 21px;
      }

      @media (min-width: $desktop-l) {
        margin-bottom: 27px;
      }
    }
  }

  &__icon {
    height: 65px;
    width: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_left {
      transform: translateX(-9px);
    }

    &_right {
      transform: translateX(10px);

      @media (min-width: $desktop) {
        transform: translateX(0);
      }
    }

    margin: 0 auto 20px;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
      margin: 0;
      margin-bottom: 20px;
      transform: translateX(-5px);
      width: 60px;
      height: 60px;
    }

    @media (min-width: $desktop) {
      width: 70px;
      height: 70px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-l) {
      height: 105px;
      width: 105px;
      transform: translateX(-10px);
      margin-bottom: 30px;
    }
  }

  &__img {
    width: 65px;
    @media (min-width: $tablet) {
      width: 60px;
    }
    @media (min-width: $desktop) {
      width: 70px;
    }
    @media (min-width: $desktop-l) {
      width: 105px;
    }
  }

  &__text {
    font-family: 'Mail_Sans_Roman', sans-serif;
    font-size: $font-size-15;
    line-height: $line-height-24;
    font-weight: 400;
    margin: 0;

    @media (min-width: $tablet) {
      font-size: $font-size-12;
      line-height: $line-height-20;
    }
    @media (min-width: $desktop) {
      font-size: $font-size-15;
      line-height: $line-height-24;
    }

    @media (min-width: $desktop-l) {
      font-size: $font-size-20;
      line-height: $line-height-32;
    }

    &_dark {
      margin-bottom: 34px;

      @media (min-width: $desktop) {
        margin-bottom: 50px;
      }
      @media (min-width: $desktop-l) {
        margin-bottom: 55px;
      }
    }
  }
}
