{% extends 'njk/_layout.njk' %}

{% block content %}
  {% include 'templates/start.html' %}
  {% include 'templates/features.html' %}
  {% include 'templates/advantages.html' %}
  {% include 'templates/training.html' %}
  {% include 'templates/partners.html' %}
  {% include 'templates/help.html' %}

{% endblock %}